@media only screen {

body {
  font-family: 'Poppins', sans-serif;
  background:#5e17eb;
  margin:0;
  color:white;
}

body.sponsorship {
  background: #22045e;
}

section {
  padding:2em 2em;

}

section#section-1 {
  background-size: contain;
  background-color: #FCE592;
  background-position:center right;
  background-repeat: no-repeat;
  padding-bottom:5em;
  position: relative;
  color:#5e17eb;
}

section#section-2,section#section-3 {
  max-width: 900px;
  margin: 0 auto;
}

section#section-4 {
  padding-bottom: 12em;
}



section.dark-bg {
  background: #22045e;
  text-align: center;
}

p,li {
  font-size:18px;
  line-height:26px;
}

body.sponsorship p, body.sponsorship li {
  font-size:18px;
  line-height:26px;
}

p {
  margin-bottom: 2em;
  opacity:.96;
}

a {
  color:inherit;
}

a:hover {
  opacity:.8;
}

h1 {
  font-size:8vw;
  line-height: 1.1;
  margin: 0

}

.sponsorship h1 {
  font-size:7vw;
}

h1 span {
  display:inline-block;
  background:#5e17eb;
    padding:0 .2em;
    color:#fae056;
    border-radius: 10px;
    margin:.3vw;
}

h1 span:nth-child(1) {
  transform:rotate(1deg);
}

h1 span:nth-child(2) {
  transform:rotate(-2deg);
}

h1 span:nth-child(3) {
  transform:rotate(2deg);
}

h1 span:nth-child(4) {
  transform:rotate(-1deg);
}

h1 span:nth-child(5) {
  transform:rotate(1deg);
}

span.wcus {
display: inline-block;
font-size: 2em;
background: #5e17eb;
color:#fae056;
font-weight:900;
padding:.2em .4em;
border-radius: 10px;
transform:rotate(-2deg);

}

h2 {
  font-size:3.2rem;
  color:#fae056;
  line-height: 1.1
}

h3 {
  font-size:1.6rem;

}

h6 {
  font-size:.8rem;
  text-transform:uppercase;
  margin-bottom:-1.6rem;
  color:#fae056;
}

.backpacks {
  max-width: 400px;
  margin: 0 auto;
}

a.button {
  padding:1em 1.6em;
  background:#5e17eb;
  color:#fff;
  border-radius: 100px;
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  font-weight:700;
}

a.button:hover {
  background:black;
}

ul.item-list {
  columns:3;
  column-gap: 80px;
  list-style: none;
  padding:0;

}

ul.item-list li {
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left top;
  padding-left: 40px;
  margin-bottom: .6em;
}

ul.ul-columns {
  list-style:none;
  padding:0;
  display:flex;
  align-items: flex-end;
}

ul.ul-columns li{
  display:block;
  width:100%;
  text-align: center;
  margin:10px;
}

ul.ul-grid {
  list-style:none;
  padding:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
}

ul.ul-grid li:nth-child(4){
   grid-area: 1 / 2 / 4 / 5;
}



@keyframes badgespin{
  from {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(360deg)
  }
}

#w6-ma-squiggle-border {
  transform-origin:center;
  animation:badgespin 60s infinite linear;
}

.w6ma-icon {
  position:absolute;
  right:20px;
  top:20px;
  width:20%;

}

.w6ma-icon svg {
  width:100%;
  height:auto;
}

div.svg-illustration {
  width:53%;
  position:absolute;
  right:0px;
  top:50%;
  transform: translateY(-50%);
}

body.sponsorship div.svg-illustration {
  width:40%;
  right:5%;
}

div.svg-illustration img{
  width:100%;
  height:auto;
}

.svg-illustration g{
  transform-origin:center;
  animation:floaton 5s infinite ease-in-out;
}

.svg-illustration g[data-name="papers"]{
  animation-delay: -1s;
}

.svg-illustration g[data-name="backpack"]{
  animation-delay: -3s;
}

.svg-illustration g[data-name="laptop"]{
  animation-delay: -4s;
}

.svg-illustration g[data-name="compass"]{
  animation-delay: -2s;
}

.svg-illustration g[data-name="masks"]{
  animation-delay: -2.5s;
}

@keyframes floaton{
  0% {
    transform:rotate(-1deg);
  }
  50% {
    transform:rotate(1deg);
  }
  100% {
    transform:rotate(-1deg);
  }
}

div.z-fix {
  position:relative;
  z-index: 2;
  max-width: 45vw
}

div.z-fix p{
  color:#111111;
}

body.sponsorship div.z-fix p{
  color:#ffffff;
}

span.description {
  margin-top:1em;
  display: block;
  font-weight: bold;
}

span.backpacknumber{
  display: block;
}

span.amount {
  display: block;
}

span.recognition {
  display: block;
  font-size: 14px;
  opacity:.8;
  margin: .6em 0 2em 0;
  line-height: 1.2;
}

}

@media only screen and (max-width: 800px) {
  ul.item-list {
    columns:1;
    column-gap: 0px;
  }
  ul.ul-grid {
    list-style:none;
    padding:0;
    display: block;
  }
  ul.ul-columns {
    display:block;
  }
  div.svg-illustration {
    width:100%;
    position:relative;
    right:auto;
    top:auto;
    transform: translateY(0%);
    margin-bottom: 0;
  }
  body.sponsorship div.svg-illustration {
    width:70%;
    right:auto;
    margin: 0 auto;
  }
  div.z-fix {
    position:relative;
    z-index: 2;
    max-width: 100%;
  }
  section#section-1 {
    padding-bottom:0em;
  }
}

@media only print {
  body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    color:#5e17eb;

  }

  section {
    padding:2em 2em;

  }

  section#section-1 {
    background-size: contain;
    background-position:center right;
    background-repeat: no-repeat;
    padding-bottom:5em;
    position: relative;
  }

  section#section-2,section#section-3 {
    max-width: 900px;
    margin: 0 auto;
  }

  section#section-4 {
    padding-bottom: 12em;
  }



  section.dark-bg {
    background: #22045e;
    text-align: center;
  }

  p,li {
    font-size:12px;
  }

  p {
    margin-bottom: 2em
  }

  h1 {
    font-size:36pt;
    line-height: 1;
    margin: .3em 0;

  }

  h2 {
    font-size:24pt;
    color:#5e17eb;
    line-height: 1.1
  }

  h3 {
    font-size:18pt;

  }

  h6 {
    font-size:.8rem;
    text-transform:uppercase;
    margin-bottom:-1.6rem;
    color:#fae056;
  }

  .backpacks {
    max-width: 400px;
    margin: 0 auto;
  }

  a.button {
    padding:.6em 1em;
    background:#5e17eb;
    color:#fff;
    border-radius: 100px;
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    font-weight:700;
  }

  a.button:hover {
    background:black;
  }

  ul.item-list {
    columns:3;
    column-gap: 80px;
    list-style: none;
    padding:0;

  }

  ul.item-list li {
    background-image: url(img/check.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left top;
    padding-left: 40px;
    margin-bottom: .6em;
  }

  ul.ul-columns {
    list-style:none;
    padding:0;
    display:flex;
    align-items: flex-end;
  }

  ul.ul-columns li{
    display:block;
    width:100%;
    text-align: center;
    margin:10px;
  }

  ul.ul-grid {
    list-style:none;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
  }

  ul.ul-grid li:nth-child(4){
     grid-area: 1 / 2 / 4 / 5;
  }

  @keyframes badgespin{
    from {
      transform:rotate(0deg)
    }
    to {
      transform:rotate(360deg)
    }
  }

  #w6-ma-squiggle-border {
    transform-origin:center;
    animation:badgespin 60s infinite linear;
  }

  .w6ma-icon {
    position:absolute;
    right:20px;
    top:20px;
    width:16%;

  }

  .w6ma-icon svg {
    width:100%;
    height:auto;
  }

  div.svg-illustration {
    width:53%;
    position:absolute;
    right:0px;
    top:50%;
    transform: translateY(-50%);
  }

  div.svg-illustration img{
    width:100%;
    height:auto;
  }

  div.z-fix {
    position:relative;
    z-index: 2;
    max-width: 45%;
  }

  div.z-fix p{
    color:#111;
  }

  span.description {
    margin-top:1em;
    display: block;
    font-weight: bold;
  }

  span.backpacknumber{
    display: block;
  }

  span.amount {
    display: block;
  }
}
