body {
  font-family: 'Poppins', sans-serif;
  background:#5e17eb;
  margin:0;
  color:white;
}

section {
  padding:2em 2em;

}

section#section-1 {
  background-size: contain;
  background-color: #FCE592;
  background-position:center right;
  background-repeat: no-repeat;
  padding-bottom:5em;
}

section#section-3 {
  background-color: #FCE592;
  color:#5e17eb;
}

section.dark-bg {
  background: black;
  text-align: center;
}

p,li {
  font-size:21px;
  line-height:26px;
}

p {
  max-width: 800px;
  margin: 2em auto;
}

h1 {
  font-size:8vw;
  max-width: 8em;
  line-height: 1.1;
  margin-bottom: .3em;

}

h1 span {
  display:inline-block;
  background:#5e17eb;
    padding:0 .2em;
    color:#fae056;
    border-radius: 10px;
    margin:.3vw;
}

h1 span:nth-child(1) {
  transform:rotate(1deg);
}

h1 span:nth-child(2) {
  transform:rotate(-2deg);
}

h1 span:nth-child(3) {
  transform:rotate(2deg);
}

h1 span:nth-child(4) {
  transform:rotate(-1deg);
}

h1 span:nth-child(5) {
  transform:rotate(1deg);
}

h2 {
  font-size:3.2rem;
}

h3 {
  font-size:1.6rem;
}

h6 {
  font-size:.8rem;
  text-transform:uppercase;
  margin-bottom:-1.6rem;
  color:#fae056;
}

a.button {
  padding:.6em 1em;
  background:#fae056;
  color:#5e17eb;
  border:4px solid #5e17eb;
  border-radius: 100px;
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  font-weight:700;
}

a.button:hover {
  background:black;
}

ul.item-list {
  columns:3;
  column-gap: 80px;
  list-style: none;
  padding:0;
  color:black;
}

ul.item-list li {
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left top;
  padding-left: 40px;
  margin-bottom: .6em;
}

ul.ul-columns {
  list-style:none;
  padding:0;
  display:flex;
}

ul.ul-columns li{
  display:block;
  width:100%;
  text-align: center;
}

@keyframes badgespin{
  from {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(360deg)
  }
}

#w6-ma-squiggle-border {
  transform-origin:center;
  animation:badgespin 60s infinite linear;
}

.w6ma-icon {
  position:absolute;
  right:20px;
  top:20px;
  width:16%;

}

.w6ma-icon svg {
  width:100%;
  height:auto;


}

div.svg-illustration {
  width:55%;
  position:absolute;
  right:0px;
  top:-10px;
}

div.svg-illustration img{
  width:100%;
  height:auto;
}

.svg-illustration g{
  transform-origin:center;
  animation:floaton 8s infinite ease-in-out;
}

.svg-illustration g[data-name="papers"]{
  animation-delay: -1s;
}

.svg-illustration g[data-name="backpack"]{
  animation-delay: -3s;
}

.svg-illustration g[data-name="laptop"]{
  animation-delay: -4s;
}

.svg-illustration g[data-name="compass"]{
  animation-delay: -2s;
}

.svg-illustration g[data-name="masks"]{
  animation-delay: -2.5s;
}

@keyframes floaton{
  0% {
    transform:translateY(5px);
  }
  50% {
    transform:translateY(-5px);
  }
  100% {
    transform:translateY(5px);
  }
}

div.z-fix {
  position:relative;
  z-index: 2;
}

span.description {
  display: block;
  font-weight: bold;
}

span.backpacknumber{
  display: block;
}

span.amount {
  display: block;
}
