body {
  font-family: 'Poppins', sans-serif;
  background:;
  margin:0;
  color:#3100CA;
}

section {
  padding:2em 1em;
  
}

section#section-1 {
  background:url(https://media.istockphoto.com/photos/laptop-school-supplies-on-green-chalkboard-in-knolling-arrangement-picture-id1249864411?s=2048x2048);
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  min-height:50vh;
}

p,li {
  font-size:21px;
  line-height:26px;
}

h1 {
  font-size:4.8rem;
  
}

h1 span {
  display:inline-block;
  background:#FFD9E5;
    padding:0 .2em;
}

h2 {
  font-size:3.2rem;
}

h3 {
  font-size:1.6rem;
}

h6 {
  font-size:.8rem;
  text-transform:uppercase;
  margin-bottom:-1.6rem;
}

a.button {
  padding:1em;
  background:#3100CA;
  color:white;
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  font-weight:700;
}

a.button:hover {
  background:black;
}

ul.item-list {
  columns:2;
  column-gap: 80px;
}

ul.ul-columns {
  list-style:none;
  padding:0;
  display:flex;
}

ul.sponsor-levels li{
  display:block;
  width:100%;
}

@keyframes badgespin{
  from {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(360deg)
  }
}

#w6-ma-squiggle-border {
  transform-origin:center;
  animation:badgespin 60s infinite linear;
}

.w6ma-icon {
  position:fixed;
  right:20px;
  top:20px;
  width:16.666%;
  
}

.w6ma-icon svg {
  width:100%;
  height:auto;
  
}